<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>coverme.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01B8952F2E3DE2F800D7894A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01B8953D2E3DE2FA00D7894A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01B895472E3DE2FA00D7894A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
